
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

html, body {
 height: 100%;
 width: 100%;
}

body{
    background-color: black;
    overflow: hidden;
}

#circle{
    height: 20px;
    width: 20px;
    background-color: whitesmoke;
    border-radius: 50%;
    position: absolute;
    z-index:1;
    text-align: center;
    font-size:5px;
    display: flex;
    justify-content: center;
    align-items:    center;
}

#box{
    height:100%;
    width:100%;
    position:relative;
}

#block{
    height:400px;
    width:800px;
    background-color: wheat;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#overlay{
    height:400px;
    width:800px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 4;
    /* pointer-events: none; */
}