*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto Slab';
    overflow: hidden;
    background-color: #000000;
    color:white
}

#nav{
    display:flex;
    justify-content: space-between;
    margin:20px;
}

#primary{
    font-size: 30px;
}

#secondary{
    display: flex;
    font-size: 20px;
    gap:30px;
    padding:10px;
}