

*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

html, body {
 height: 100%;
 width: 100%;
}

body{
    background-color: black;
}

#box{
    height: 400px;
    width: full;
    /* background-color: wheat; */
}